<!DOCTYPE html>
<html>
<% let msg = 0; %>
<% function oddEven() { return msg++ % 2 ? 'odd' : 'even' }; %>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credits</title>
  <link rel="stylesheet" href="/content/style.css" />
  <% if (!noScroll) { %><script src="/content/scroll.js"></script><% } %>
  <script src="/content/clip.js"></script>
  <script src="/content/data.js"></script>
</head>

<body>
  <% if (clips && clips?.length) { %>
<!-- BEGIN CLIPS -->
  <% clips.sort((a, b) => new Date(b.creationDate).getTime() - new Date(a.creationDate).getTime()).forEach((clip, i) => { %>
    <div class="background-clip">
      <video poster="<%= clip.thumbnailUrl %>" <% if (!unmuted) { %>muted<% } %> <% if (autoplay) { %>autoplay<% } %>>
        <source src="/clip/<%= clip.id %>" type="video/mp4"/>
      </video>

      <div class="info left">
        <!-- <%- JSON.stringify(clip, null, '  ') %> -->
        <div class="title">
          <q><%= clip.title %></q>
        </div>
        <div class="created-by line">
          <img class="avatar" src="<%= clip.creator.profilePictureUrl %>" />
          <div class="stack">
            <span class="username"><%= clip.creatorDisplayName %></span>
            <span data-date="<%= new Date(clip.creationDate).toISOString() %>"></span>
          </div>
        </div>
      </div>

      <div class="info right">
        <div class="game">
          <div class="title"><%= clip.game.name %></div>
          <img class="box-art" src="<%= clip.game.boxArtUrl.split(/-\{width\}x\{height\}/i).join('') %>">
        </div>
      </div>
    </div>
  <% }) %>
<!-- END CLIPS -->
  <% } %>

<div id="scroll" class="scroll-container"><div class="scroll-content">
  <div class="header grad-text">Thanks for watching!</div>

  <% if (gifted && gifted?.length) { %>
  <div class="list_title">Gifted Subs:</div>
  <div class="list_container ranking">
    <% gifted.sort((a, b) => b.amount - a.amount).forEach(function(event) { %>
      <div class="list_item message <%= oddEven() %>">
        <span class="username">
          <%= event.user %>
        </span>
        <span class="amount">
          <%= event.amount %>
        </span>
      </div>
    <% }) %>
  </div>
  <% } %>
  
  <% if (newSubs && newSubs?.length){%>
  <div class="list_title">New Subscriptions:</div>
  <div class="list_container" id="new_subs">
    <% newSubs.forEach(function(event) { %>
      <div class="list_item message <%= oddEven() %>">
        <span class="username">
          <%= event %>
        </span>
      </div>
    <% }) %>
  </div>
  <% } %>
  
  <% if (currentSubs?.length){%>
  <div class="list_title">Current Subscribers:</div>
  <p class="list_no_break">
    <% currentSubs.forEach(function(user, index) { %>
      <span class="comma_separated"><%= user %></span>
    <% }) %>
  </p>
  <% } %>
  
  <% if (cheers && cheers?.length){%>
  <div class="list_title">Cheers:</div>
  <div class="list_container">
    <% cheers.sort((a, b) => b.amount - a.amount).forEach(function(event) { %>
      <div class="list_item">
        <img class="inline-icon" src="/content/diamond.png">
        <span class="amount"><%= event.amount %></span>
        <span class="username"><%= event.user %></span>
        <div class="vert_container">
          <% event.messages.forEach(function(m) { %>
            <div class="message <%= oddEven() %>"><%= m %></div>
          <% }) %>
        </div>
      </div>
    <% }) %>
  </div>
  <% } %>
  
  <% if (raids && raids?.length) { %>
    <div class="list_title">Thanks to the Raiders:</div>
    <div class="list_container">
      <% raids.sort((a, b) => b.amount - a.amount).forEach(function(event) { %>
        <div class="list_item message <%= oddEven() %>">
          <span class="username">
            <%= event.user %>
          </span>
          <span class="amount">
            <%= event.amount %>
          </span>
        </div>
      <% }) %>
    </div>
  <% } %>
  
  <% if (redeems && redeems?.length){%>
  <div class="list_title">Redeems:</div>
  <div class="list_container">
    <% redeems.forEach(function(event) { %>
      <div class="list_item">
        <span class="username">
          <%= event.user %>
        </span>
        <span class="message <%= oddEven() %>">
          <%= event.message %>
        </span>
      </div>
    <% }) %>
  </div>
  <% } %>
  
  <% if (follows && follows?.length) { %>
  <div class="list_title">Follows:</div>
  <p class="list_no_break">
    <% follows.forEach(function(user, index) { %>
    <span class="comma_separated"><%= user %></span>
    <% }) %>
  </p>
  <% } %>
  
  <div class="closure grad-text">Sweet dreams of sour pickles</div>
  <div class="credit_where_credit_is_due">Developed by Kouna and CaesarLP</div>
</div></div>
</body>

</html>