|<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credits</title>
  <link rel="stylesheet" href="/content/style.css" />
</head>

<body>
  <div class="header">Thanks for watching!</div>

  <% if (newSubs?.length){%>
  <div class="list_title">Gifted Subs:</div>
  <div class="list_container">
    <% gifted.forEach(function(event) { %>
      <div class="list_item">
        <span class="username">
          <%= event.user %>
        </span> -
        <span class="message">
          <%= event.amount %>
        </span>
      </div>
    <% }) %>
  </div>
  <% } %>

  <% if (newSubs?.length){%>
  <div class="list_title">New Subscriptions:</div>
  <div class="list_container">
    <% newSubs.forEach(function(event) { %>
      <div class="list_item">
        <span class="username">
          <%= event %>
        </span>
      </div>
    <% }) %>
  </div>
  <% } %>

  <% if (currentSubs?.length){%>
  <div class="list_title">Current Subscribers:</div>
  <p class="list_no_break">
    <% currentSubs.forEach(function(user, index) { %>
      <span class="comma_separated"><%= user %></span>
    <% }) %>
  </p>
  <% } %>

  <% if (cheers?.length){%>
  <div class="list_title">Cheers:</div>
  <div class="list_container">
    <% cheers.forEach(function(event) { %>
      <div class="list_item">
        <img class="inline-icon" src="/content/diamond.png">
        <span class="amount"><%= event.amount %></span>
        <span class="username"><%= event.user %></span>
        <div class="vert_container">
          <% event.messages.forEach(function(m) { %>
            <span class="message"><%= m %></span>
          <% }) %>
        </div>
      </div>
    <% }) %>
  </div>
  <% } %>

  <% if (redeems?.length){%>
  <div class="list_title">Redeems:</div>
  <div class="list_container">
    <% redeems.forEach(function(event) { %>
      <div class="list_item">
        <span class="username">
          <%= event.user %>
        </span> -
        <span class="message">
          <%= event.message %>
        </span>
      </div>
    <% }) %>
  </div>
  <% } %>

  <% if (follows?.length){%>
  <div class="list_title">Follows:</div>
  <p class="list_no_break">
    <% follows.forEach(function(user, index) { %>
      <span class="comma_separated">
        <%= user %>
      </span>
    <% }) %>
    </p>
  <% } %>

  <div class="closure">Sweet dreams of sour pickles</div>
</body>

</html>